#LogInPanel {
  display: flex;
  justify-content: space-between;

  padding: 2em;

  height: 10vh;
}

#navigationButtons {
  display: flex;
}

#logInButtons {
  display: flex;
  justify-content: flex-end;
}

button {
  width: 17vw;
  height: 90%;
  padding: 0.3em 0.6em;
  margin-right: 0.75em;
}

#homeButton {
  padding: 0;
}

#homeIcon {
  height: 100%;
}

#logOutButton {
  margin-right: 0em;
}

/* Tablet/Desktop Screens */
@media (min-width: 750px) {
  button {
    padding: 0.6em 1.2em;
    font-size: larger;
    font-weight: bold;
  }

  #blogButton,
  #homePageButton {
    margin-right: 1em;
  }
}
