aside {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2em;
  margin-right: 0.5em;
  margin-left: 1em;
  margin-bottom: 2em;

  padding: 0.5em;
  padding-right: 1em;

  background-color: #f9f9f9;
  border-radius: 2em;

  position: sticky;
  top: 5vh;

  height: 90vh;
}

#linkedinIcon,
#githubIcon {
  height: 2em;
}

aside p {
  text-align: center;
}
