#AdminPanel {
  display: flex;
  justify-content: space-between;

  padding: 2em;
  background-color: #4e94ff;
}

/* Tablet/Desktop Screens */
@media (min-width: 750px) {
  #homeButton {
    width: 10vw;
  }
}
