backend/node_modules
backend/.env
backend/generated/prisma
backend/dist

bloggerFrontend/node_modules
bloggerFrontend/.env
bloggerFrontend/dist

visitorFrontend/node_modules
visitorFrontend/.env
visitorFrontend/dist