#postsContainer {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.postCard {
  border: solid gray 1px;
  border-radius: 1em;
  padding: 1em;
  min-height: 33vh;
  color: black;
}

.postCard h2 {
  margin-top: 0px;
  margin-bottom: 0.5em;
}

.summaryContainer {
  width: 100%;
  max-height: 9em;
  text-overflow: clip;
  overflow: hidden;
  margin-top: 1em;
  border-top: solid gray 1px;
}

.postCard:hover {
  color: #4e94ff;
  border: solid black 1px;
  background: lightgray;
  transition: background 0.25s ease-in-out;
}

/* Tablet/Desktop Screens */
@media (min-width: 750px) {
  .postCard {
    width: 30vw;
  }

  .summaryContainer {
    max-height: 7.5em;
  }
}
