.blogMessage {
  margin-top: 2em;
  margin-bottom: 2em;
}

.commentForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#commentContent {
  min-height: 4em;
  width: 90%;
  font-size: large;
}

h2 {
  margin-top: 0.5em;
  border-bottom: solid grey 1px;
}

.commentCard {
  border-bottom: solid grey 1px;
}

#blogViewContainer {
  margin: 1em;
  width: 67vw;
  margin-left: 3em;
}

#commentSubmitContainer {
  border: solid grey 1px;
  border-radius: 1em;
}
