#postsContainer {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em;
}

.postCard {
  border: solid gray 1px;
  border-radius: 1em;
  padding: 1em;
  width: 30vw;
  height: 33vh;
  color: black;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0.5em;
}

.summaryContainer {
  width: 100%;
  max-height: 7.5rem;
  text-overflow: clip;
  overflow: hidden;
  margin-top: 1em;
}

.postCard:hover {
  color: #646cff;
  border: solid black 1px;
  background: lightgray;
  transition: background 0.25s ease-in-out;
}
