.commentHeader {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.commentCard {
  border: solid 1px gray;
  border-radius: 25px;
}

#summary {
  width: 75vw;
  min-height: 3em;
  margin: 1em 0em;
}
