#root {
  text-align: center;
  width: 100%;
}

#bodyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contentContainer {
  display: flex;
  flex-direction: column;
}

.logo,
button,
.postCard {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover,
button:hover,
.fancyText:hover {
  filter: drop-shadow(0 0 2em darkblue);
}
.logo.react:hover,
button:hover,
.fancyText:hover {
  filter: drop-shadow(0 0 2em blue);
}

/* Shared panel styles */
#personalSiteLink {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin-right: 0.75em;
}

#personalSiteLogo {
  height: 100%;
  width: auto;
  display: block;
}

.blogLink {
  color: #002244;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  margin-left: 0.5em;
}

.blogLink:visited,
.blogLink:active {
  color: black;
}

.blogLink:hover {
  filter: drop-shadow(0 0 2em darkblue);
}

/* Tablet/Desktop Screens */
@media (min-width: 750px) {
  #contentContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .blogLink {
    font-size: x-large;
  }
}
